project:
  type: website

website:
  title: "Fine Tuning Gemma with LoRA "
  search: false
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme:
      light: cosmo
      dark: darkly
    toc: true


bibliography: references.bib
